@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Roboto", sans-serif;
}

body{
    margin: 0;
    background:#def1ff;
}
header{
    width: calc(100% - 40px);
    height: 100px;
    background-color: #66c0f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}

form{
    width: 500px;
    background-color: #66c0f4;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 5px;

    padding: 20px;
}

input{
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #2f0b4f;

    font-size: 20px;
    padding-left: 10px;
    outline: none;
}
textarea{
    width: 400px;
    height: 100px;
    border-radius: 10px;
    border: 2px solid #2f0b4f;

    resize: none;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
    outline: none;
}
.time-block{
    width: 420px;
    /* margin: auto; */
    display: flex;
    gap: 10px;
    justify-content: space-between;

}
label{
    font-size: 20px;
}
.time-block>input{
    width: 195px;
}
.repeated-time{
    width: 420px;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction:row-reverse;
    justify-content: center;

}
.repeated-time>input{
    width: 30px;
    height: 30px;
    border-radius: 5px;

}
.not-repeated-block{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap:10px;
}
.repeated-block{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap:10px;
}
button{
    width: 300px;
    height: 50px;
    background-color: #187bcd;
    font-family: Roboto;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    border-bottom: 5px solid #0d4573;
    cursor: pointer;
}
.hidden{
    display: none !important;
}

#return{
    display: block;
    width: 200px;
    height: 40px;
    color: black;

    background-color: #187bcd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.426);

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    font-weight: 600;
}
#repeat_weekday{
    width:150px;
    height: 25px;
    padding: 0 5px;
    border-radius: 5px;
}
.weekday{
    display:flex;
    gap: 30px;

}

.event{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;

}
.event>input{
    width: 40px;
}

.task-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.start-time{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

button:active{
    box-shadow: 0 0 10px black inset;
    border-bottom: none;
    transition: 0.5s;
}