@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Roboto", sans-serif;
}
body{
    margin: 0;
    background:#def1ff;
}
header{
    width: calc(100% - 40px);
    height: 100px;
    background-color: #66c0f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tasks{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 75%;
}
.task{
    width: 100%; 
    height: 50px;
    background-color: #187bcd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.426);
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.check{
    width: 25px;
    height: 25px;
    margin: 0;
    padding: 0;
    border-radius: 5px;
}
#create-task{
    display: block;
    width: 200px;
    height: 40px;
    color: black;

    background-color: #187bcd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.426);

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    font-weight: 600;
}
#filler{
    width: 200px;
}

.top-menu{
    width: calc(75% + 40px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hidden{
    display: none !important;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);

    display: flex;
    justify-content: center;
    align-items: center;
}

.check-task-modal{
    width: 400px;
    height: 200px;
    background-color: #187bcd;
    border-radius: 10px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.time-block>input{
    width: 195px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #2f0b4f;

    font-size: 20px;
    padding-left: 10px;
    outline: none;
}

.time-block{
    width: 420px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
.check-task-modal-button{
    display: block;
    width: 200px;
    height: 40px;
    color: black;

    background-color: #66c0f4;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.426);

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    font-weight: 600;
}
