@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Roboto", sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    width: 500px;
    height: 400px;
    background-color: #9f5dd8;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

input{
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #2f0b4f;

    font-size: 20px;
}

button{
    width: 300px;
    height: 50px;
    background-color: #d5ad34;
    font-family: Roboto;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    border-bottom: 5px solid #5b4912;
    cursor: pointer;
}

button:active{
    box-shadow: 0 0 10px black inset;
    border-bottom: none;
    transition: 0.5s;
}