<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Главная</title>
</head>
<body>
    <header>
        <div></div>
        <h1>Главная</h1>
        <div class="profile">
            <a href="/profile">{{ user_name }} </a>
        </div>
    </header>

    <main>
        <div class="top-menu">
            <div id="filler"></div>
            <h2>Задачи</h2>
            <a href="/create" id = "create-task">Создать задачу</a>
        </div>
        <div class="tasks">
            {% for task in tasks %} 
            <div class="task">
                <h4>{{ task.title }}</h4>
                <p>{{task.description}}</p>
                <p>Сложность: {{task.difficulty}}</p>
                <p>Время: {{task.supposed_time}}</p>
                <input type="hidden" value="{{task.id}}" class="task-id">
                <input class="check" type="checkbox" id="">
            </div>
            {% endfor %}
        </div>
    </main>
    <section class="modal hidden">
        <div class="check-task-modal">
            <h3>Завершение задачи</h3>
            <h4 class="check-task-modal-title"></h4>
            <div class="time-block">
                <input type="number" name="time-hours" id="time-hours" min="0" placeholder="Часы">
                <input type="number" name="time-minutes" id="" min="0" max="59" placeholder="Минуты">
            </div>
            <button class="check-task-modal-button">Завершить</button>
        </div>
    </section>
    <script src="{{ url_for('static', filename='js/check_task.js') }}"></script>
</body>
</html>