<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Главная</title>
</head>
<body>
    <header>
        <div></div>
        <h1>Главная</h1>
        <div class="profile">
            <a href="/profile">{{ user_name }} </a>
        </div>
    </header>

    <main>
        <div class="top-menu">
            <div></div>
            <h2>Задачи</h2>
            <a href="/create" id = "create-task">Создать задачу</a>
        </div>
        <div class="tasks">
            <div class="task">
                <h4>Помыть посуду</h4>
                <input class="check" type="checkbox" id="">
            </div>
            <div class="task">
                <h4>Помыть посуду</h4>
                <input class="check" type="checkbox" id="">
            </div>
            <div class="task">
                <h4>Помыть посуду</h4>
                <input class="check" type="checkbox" id="">
            </div>
            <div class="task">
                <h4>Помыть посуду</h4>
                <input class="check" type="checkbox" id="">
            </div>
            <div class="task">
                <h4>Помыть посуду</h4>
                <input class="check" type="checkbox" id="">
            </div>
        </div>
    </main>
</body>
</html>