<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile/signup.mobile.css') }}">
    <title>Регистрация</title>
</head>
<body>
    <main>
        <form action="" method="post"> 
            <h1>Регистрация</h1>
            <input type="text" name="name" id="" placeholder="Имя">
            <input type="text" name="email" id="" placeholder="Почта">
            <input type="password" name="password" placeholder="Пароль">
            <input type="password" name="password2" placeholder="Повторите пароль">
            {% for question in questions %}
                <label for="">{{ question.question }}</label>
                <input type="number" name="question" id="" min="1" max="5" />
            {% endfor %}
            <!-- <label for="">Я обычно могу заранее достаточно оценить,сколько времени займет задача</label>
            <input type="number" name="question" id="" min="1" max="5" >
            <label for="">Мои планы на день обычно соответствуется тому,что я реально успеваю делать</label>
            <input type="number" name="question" id="" min="1" max="5" >
            <label for="">Я чаще начинаю выполнять задачи в запланированное время,а не откладываю их</label>
            <input type="number" name="question" id="" min="1" max="5" >
            <label for="">Я могу работать над задачей,не отвлекаясь</label>
            <input type="number" name="question" id="" min="1" max="5" >
            <label for="">Я анализирую,почему какие-то задачи заняли больше или меньше времени,чем я планировал</label>
            <input type="number" name="question" id="" min="1" max="5"> -->
            <button type="submit">Регистрация</button>
            <a href="signin">Вход</a>
        </form>
        {% if error %} <p> {{ error }} </p> {% endif %}

        
    </main>
</body>
</html>