<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Weekly.css') }}">
    <title>Еженедельные задания</title>
</head>
<body>
    <header>
        <div></div>
        <h1>Еженедельные задания</h1>
        <div class="Weekly">
            <a href="/weekly">{{ user_name }} </a>
        </div>
    </header>
    <main>

    </main>
</body>
</html>